/Diaknev1018/nbproject/private/
/Diaknev1018/build/
/Steamgyak/nbproject/private/
/Steamgyak/build/
/Rendszaminput/nbproject/private/
/Rendszaminput/build/
/Metodusok/nbproject/private/
/Metudosok/nbproject/private/
/Gulametodusok/nbproject/private/
/GulaMetodusos/nbproject/private/
/Szokoev/nbproject/private/
