/Diaknev1018/nbproject/private/
/Diaknev1018/build/
/Steamgyak/nbproject/private/
/Steamgyak/build/
/Rendszaminput/nbproject/private/
/Rendszaminput/build/
/Metodusok/nbproject/private/
/Metudosok/nbproject/private/
/Gulametodusok/nbproject/private/
/GulaMetodusos/nbproject/private/
/metodusgyakorlas11.22/nbproject/private/
/metodusgyakorlas11.22/build/
/gyakorlasmetodusok11.22/nbproject/private/
/gyakorlasmetodusok11.22/build/
/metodusok2/nbproject/private/
/metodusok2/build/
/1002/nbproject/private/
/1002/build/
/penzevente/nbproject/private/
/derekszoguharomszog/nbproject/private/
/derekszoguharomszug/nbproject/private/
/hegyek/nbproject/private/
/hegyek/build/
/segitseg/nbproject/private/
/Gulyás Zsolt Máté/nbproject/private/
/Gulyás Zsolt Máté/build/
/matrixtombokelso/nbproject/private/
/matrixtombokelso/build/
/matrix0207/nbproject/private/
/matrix0207/build/
/HarmasOperator/nbproject/private/
/HarmasOperator/build/
/Primszambekeres/nbproject/private/
/Primszambekeres/build/
/Matrixsoresoszlopkezeles/nbproject/private/
/Matrixsoresoszlopkezeles/build/
/Dolgozat0301/nbproject/private/
/Dolgozat0301/build/
/Nullproba/nbproject/private/
/Nullproba/build/
/Nullproba/dist/
/fajlbeolvasas/nbproject/private/
/fajlbeolvasas/build/
/Szamfajlbeolvasas/nbproject/private/
/Szamfajlbeolvasas/build/
/fajlbe/.gradle/
/Fajlbeolvasasmixelve/nbproject/private/
/Fajlbeolvasasmixelve/build/
/fajlbeolvasas2/nbproject/private/
/fajlbeolvasas2/build/
/autok/nbproject/private/
/autok/build/
/Liftes20231016/build/
/OlaszTancs20231016/nbproject/private/
/OlaszTancs20231016/build/
/szamla20231024/nbproject/private/
